<!DOCTYPE html>
<html>
    <head>
        <title>Maintenance Page</title>
    </head>
    <body>
    <h1>Maintainence Page</h1>
    <p>WE are undergoing maintainence</p>
{{> footer}}
    </body>
</html>