# next.js build output
.next

# Dependency directories
node_modules/

:# Optional npm cache directory
.npm 

# dotenv environment variables file (build for Zeit Now)
.env
.env.build

#.DS_Store
.DS_Store

#.vscode
.vscode
