<!DOCTYPE html>
<html>
    <head>
        <title>
            New Guest Entry Form
        </title>
    </head>
    <body>
        <form action="/guest" method="post">
           <label>First Name</label> <input type="text" id="firstName" name="firstName"><br>
           <label>Last Name</label> <input type="text" id="lastName" name="lastName"><br>
           <label>Submit</label> <input type="submit"><br>
        </form>
    </body>
</html>