<h1>Results page</h1>
<ul>
    <% data.Search.forEach(function(movie,index) { %>
        <li>
             <%= index %> - <%= movie.Title %> - <%= movie.Year %> 
        </li>
    <% }); %>
</ul>

<a href="/">Search Again</a>

<form action="/" method="GET">
<input type="submit" value="Back to home Page">
</form>