/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

img {
  width: 100%;
}

/* intro styles */
#intro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem 10rem 1rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.firstName {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

/* projects */

#projects {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--aqua);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.blackbox {
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background-color: var(--black);
  font-size: 1rem;
  line-height: 1.5;
}

.projectsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1rem;
}

.projectsBackground {
  background-color: var(--dkblue);
}

#projects img {
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
}

/* Contact Section */

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 4rem 0;
}

.contactBackground {
  background-color: var(--plum);
}

.contact-info {
  margin-bottom: 3rem;
}

/* navigation bar */
.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.navheader {
  flex-basis: 100%;
  text-align: center;
}

.navigationBar {
  font-family: var(--mono);
  font-size: 80%;
  padding: 4rem 1rem;
}

nav ul a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--sans);
  font-weight: bold;
}

.icon {
  font-size: 150%;
  color: var(--aqua);
}
.icon:hover {
  color: var(--magenta);
}

.name-icon {
  font-size: 100%;
  color: var(--aqua);
}

.name-icon:hover {
  color: var(--magenta);
}

.button {
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--white);
  text-decoration: none;
  font-family: var(--mono);
}

.button:hover {
  color: var(--white);
  background-color: var(--hotmag);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  font-size: 3rem;
  padding: 0;
  margin: 2rem 0;
  justify-content: center;
  list-style-type: none;
}

.footerHeader {
  text-align: center;
  padding: 4rem 0;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 0%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
}

@media screen and (min-width: 850px) {
  .navigationBar {
    max-width: 1200px;
    margin: 0 auto;
  }
  .navheader {
    flex-basis: auto;
    margin-right: auto;
    text-align: left;
  }
}

@media (min-width: 800px) {
  article {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(10, 1fr);
    /* grid-gap: 1rem */
  }

  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .text {
    grid-column: 4/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }

  /* .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }  */

  #projects ul {
    justify-content: flex-end;
  }

  #projects .reverse .text {
    grid-column: 1/8;
    /* order: 2; */
    text-align: left;
  }

  /* #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  } */

  #projects .reverse img {
    grid-column: 7/11;
    grid-row: 1/2;
  }

  /*   #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  } */

  #projects .reverse ul {
    justify-content: flex-start;
  }
}
