.female-button,
.male-button,
.all-button {
  border: none;
  border-radius: 3px;
  margin: 3px;
  padding: 3px 8px;
  cursor: pointer;
}
.female-button {
  background-color: pink;
}
.male-button {
  background-color: rgb(34, 34, 108);
  color: white;
}
.title {
  color: hotpink;
  text-align: center;
}
.input-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.input-container input {
  width: 50%;
  padding: 0px 10px;
}
.input-container button {
  margin-left: 10px;
  cursor: pointer;
}
.names-container {
  border: solid 2px grey;
  border-radius: 8px;
  padding: 10px;
}
.favorites-container {
  border: solid 2px grey;
  border-radius: 8px;
  margin: 10px 0px;
  padding: 0 10px 10px 10px;
}
